PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=hostelhub_db

JWT_SECRET=h7hF9kL2mX9pQ4vT8zYwR6uN1sB3aC5dE0gH8J2K9L0P

GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_KEY

MPESA_CONSUMER_KEY='Your CONSUMER-KEY'
MPESA_CONSUMER_SECRET='YOUR-CONSUMER-SECRET'
MPESA_SHORTCODE=174379
MPESA_PASSKEY='YOUR-PASSKEY'
MPESA_CALLBACK_URL=<YOUR MPESA_CALLBACK_URL>/api/mpesa/callback
MPESA_ENV=sandbox

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
EMAIL_FROM=HostelHub <your@gmail.com>

APP_URL=http://localhost:3000
NODE_ENV=development
